<div class="main-site-container">
    <div class="countries-data-container">
        <div class="search-filters-container">
            <form [formGroup]="searchCountryForm">
                <mat-form-field class="filter-option-container" data-cy="filter-select">
                    <mat-label>Filter by</mat-label>
                    <mat-select placeholder="Select filter by" formControlName="option" data-cy="option-form-field">
                        <mat-option value="none" data-cy="none">None</mat-option>
                        <mat-option *ngFor="let option of supportedFilteredOptions" [value]="option" [attr.data-cy]="option">
                            {{formatSnakeCaseToNormal(option)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-input-container" data-cy="country-search-input">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Ex. Finland" formControlName="value" (keydown.enter)="$event.preventDefault()">
                    <button mat-icon-button matSuffix (click)="clearSearchingValue()" data-cy="clear-search-text" [disabled]="!value?.value">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <div class="confirmation-buttons-container">
                <button mat-raised-button color="primary" (click)="findCountry()" [disabled]="verifyFindCountryButton()" data-cy="find-button">Find</button>
                <button mat-raised-button (click)="clearAndFetchAllCountries()" [disabled]="verifyClearSearchFormButton()" data-cy="clear-button">Clear</button>
            </div>
        </div>

        <table class="countries-table-container" aria-label="countries-table" data-cy="countries-table">
            <thead>
                <tr>
                    <th class="flag-column-container">Flag</th>
                    <th class="name-column-container">
                        Name
                    </th>
                    <th class="official-name-column-container">
                        Official Name
                    </th>
                    <th class="capital-column-container">
                        Capital
                    </th>
                    <th class="region-column-container">
                        Region
                    </th>
                    <th class="language-column-container">
                        Languages
                    </th>
                    <th class="currencies-column-container">
                        Currencies (Symbol)
                    </th>
                    <th class="population-column-container">
                        Population
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!loadingData">
                    <ng-container *ngTemplateOutlet="countriesData"></ng-container>
                </ng-container>
            </tbody>
        </table>

        <mat-paginator [length]="totalCountries"
            [pageSize]="initialPageSize"
            [pageSizeOptions]="[25, 50, 100]" aria-label="Select countries range"
            (page)="onPageChange($event)"
            showFirstLastButtons>
        </mat-paginator>
        <div *ngIf="loadingData" class="loading-spinner-container" data-cy="loading-spinner">
            <mat-spinner></mat-spinner>
            <span>Getting countries data. . .</span>
        </div>
        <div *ngIf="!loadingData && plainCountriesData.length === 0">
            <ng-container *ngTemplateOutlet="noDataAvailable"></ng-container>
        </div>
    </div>

</div>

<ng-template #countriesData>
    <ng-container *ngIf="paginatedCountriesData.length > 0;">
        <ng-container *ngFor="let country of paginatedCountriesData;" >
            <tr style="cursor: pointer;" (click)="findCountryAndUpdateUrlWhenRowIsClicked(country.name.common)">
                <td class="flag-column-container">
                    <span style="display: inline-block;">
                        <img src={{country.flags.png}} alt='country-flat-image'>
                    </span>
                </td>
                <td class="name-column-container ">
                    {{country.name.common ? country.name.common : 'n/a'}}
                </td>
                <td class="official-name-column-container">
                    {{country.name.official ? country.name.official : 'n/a'}}
                </td>
                <td class="capital-column-container">
                    {{country.capital ? country.capital : 'n/a'}}</td>
                <td class="region-column-container">
                    {{country.region ? country.region : 'n/a'}}</td>
                <td class="language-column-container">
                    {{country.languages ? parseLanguagesObjectToString(country.languages) : 'n/a'}}
                </td>
                <td class="currencies-column-container">
                    {{country.currencies ? parseCurrenciesObjectToString(country.currencies) : 'n/a'}}
                </td>
                <td class="population-column-container">
                    {{country.population ? formatPopulation(country.population) : 'n/a'}}
                </td>
            </tr>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #noDataAvailable>
    <div class="no-data-container" data-cy="no-data-container">
        <span>No country found</span>
    </div>
</ng-template>