table {
    position: relative;
    width: 100%;
}

th {
    position: sticky;
    top: 0;
    height: 50px;
    background: #ffffff;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.main-site-container {
    height: 90%;
}

.search-filters-container {
    display: flex;
    margin-left: 20px;
}

.filter-option-container {
    margin-right: 20px;
}

.search-input-container {
    min-width: 400px;
    margin-right: 20px;
}

.confirmation-buttons-container button {
    margin-right: 10px;
}

.loading-spinner-container, .no-data-container {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countries-data-container {}

.countries-table-container {}

.flag-column-container {
    width: 5%;
    text-align: center;
}

.name-column-container {
    width: 20%;
    text-align: left;
}

.capital-column-container {
    width: 15%;
    text-align: left;
}

.region-column-container {
    width: 10%;
    text-align: left;
}

.language-column-container {
    width: 15%;
    text-align: left;
}

.currencies-column-container {
    width: 10%;
    text-align: left;
}

.population-column-container {
    width: 10%;
    text-align: left;
}

.actions-column-container {
    width: 5%;
    text-align: left;
}