<div class="main-site-container">
    <div class="search-country-container">
        <mat-form-field appearance="outline">
            <mat-label>Search country</mat-label>
            <input matInput placeholder="Ex: Finland">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="loading-spinner-container" *ngIf="loadingData; else countriesDataReady">
        <mat-spinner></mat-spinner>
        <span>Getting countries data. . .</span>
    </div>
</div>


<ng-template #countriesDataReady>
    <div class="countries-data-container">
        <mat-paginator
            [pageSize]="100" 
            #paginator
            aria-label="Select countries range">
        </mat-paginator>
        <table class="countries-table-container" aria-label="countries-table">
            <thead>
                <tr>
                    <th>Flag</th>
                    <th>
                        Name
                    </th>
                    <th>
                        Capital
                    </th>
                    <th>
                        Region
                    </th>
                    <th>
                        Languages
                    </th>
                    <th>
                        Currencies
                    </th>
                    <th>
                        Population
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let country of countries">
                    <tr>
                        <td>{{country.flag}}</td>
                        <td>{{country.name.official}}</td>
                        <td>{{country.capital}}</td>
                        <td>{{country.region}}</td>
                        <td>{{parseLanguagesObjectToString(country.languages)}}</td>
                        <td>{{parseCurrenciesObjectToString(country.currencies)}}</td>
                        <td>{{country.population}}</td>
                    </tr>
                </ng-container>
            </tbody>


        </table>
    </div>
</ng-template>